@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #000;
}

.navbar{
  margin: 50px;
  border-bottom: 1px solid rgba(255, 255, 0, 0.329);
  border-left: 1px solid rgba(255, 255, 0, 0.329);
  border-radius: 60px;
}

